# This is a basic workflow to help you get started with Actions

name: build

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: windows-2022

    # Any commit that contains [build] will now trigger these jobs, everything else will be skipped.
    # if: "contains(github.event.head_commit.message, '[build]')"

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
        with:
          submodules: true

      - name: enable X86 and ARM build support
        working-directory: ${{github.workspace}}
        shell: pwsh
        run: |
          .\.github\workflows\EnableX86AndARM.ps1

      - name: compile
        working-directory: ${{github.workspace}}
        shell: cmd
        run: call .\.github\workflows\build.bat

      - name: upload an artifact
        uses: actions/upload-artifact@v3
        with:
          name: ucxxrt
          path: ucxxrt\
          if-no-files-found: error
